{% extends 'blog/base.html' %}

{% block content %}

<div class="profile-container">
    
    <div class="profile">
        <h1>Profile</h1>
        <img src="{{user.profile.image.url}}" alt="">
        <h2>{{ request.user }}</h2>
        <h4>{{user.email}}</h4>

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <fieldset class="form-group">
                {{ u_form }}
                {{ p_form }}
                <button><a href="{% url 'profile-update'%}">Update Profile</a></button>
            </fieldset>

        </form>
        
        

    </div>

</div>
{% endblock content %}
    
