{% extends 'blog/base.html' %}

{% block content %}
    <div class="content-section">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <h1>join today</h1>
                {{ form }}
            </fieldset>
            <div class="form-group">
                <button>sign up</button>
            </div>
        </form>
        <div>
            <small>already have an account? <a href="{% url 'login' %}">Login</a></small>
        </div>
    </div>


{% endblock content %}