{% extends 'blog/base.html' %}

{% block content %}

    <div class="form-box register auth-div">
        <h2>Registration</h2>
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form }}
            </fieldset>
            <div class="form-group">
                <button>sign up</button>
            </div>
            <div class="login-register">
              <p> Already have an account? <a href="{% url 'login' %}">Login</a></p>
            </div>
        </form>
      </div>


{% endblock content %}