{% extends 'blog/base.html' %}
{% block content %}

<main>
    <section class="hero">
      <div class="heading">
        <h1>About Us</h1>
      </div>
      <div class="container">
        <div class="hero-content">
  
          <h3>Welcome To Our Website</h3>
  
          <p>TastyBees creates a community-driven space for food
            lovers to share their culinary creations,
            discover new recipes.</p>
          <button class="cnt-button" style="margin-bottom: 50px">Contact Us</button>

          <h3>Key Features</h3>
  
          <p>- <strong>Recipe Upload:</strong> Share your favorite recipes and culinary creations with the community.</p>
          <p>- <strong>Recipe Exploration:</strong> Discover a wide array of recipes uploaded by fellow food enthusiasts.</p>
        </div>
          
      </div>
      
    </section>
  
  </main>
        
{% endblock content %}