{% extends 'blog/base.html' %}

{% block content %}
    <div class="content-section">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <h1>Delete Post</h1>
                <h3 style="text-align:center;">Are You Sure You Want to Delete Post {{object.title}}</h3>
                <button style="margin: 10px auto;">Delete</button>
                <a href="{% url 'blog-home' %}">Go Back</a>
            </fieldset>
    
        </form>
    </div>


{% endblock content %}