{% extends 'blog/base.html' %}
{% block content %}

    <h1>Post Details</h1>

    <div class="post" style="margin: 10px;">
        {% if object.author == user %}

        <a href="{% url 'blog-update' object.id %}">Update</a>
        <a href="{% url 'blog-delete' object.id %}">Delete</a>
        {% endif %}

        <img src="{{object.author.profile.image.url}}" alt="profile-img" style="width: 200px; height: 200px; border-radius: 500px;">
        <p>{{object.author}}</p>
        <h3>{{object.title}}</h3>
        <br>
    </div>

    
{% endblock content %}